/* Graphical font for display headlines */
.graphical-header {
    font-family: 'Tangerine', cursive;
    font-weight: bold;
}

.stage {
    background-color: #2d2c2b;
    position: relative;
}
.stage .page-title {
    position: absolute;
    bottom: 0;
    left: 10px;
    color: #ffffff;
    font-size: 1.9em;
}

footer.footer {
    border-top: 2px solid #868e96;
}
footer.footer .nav-link {
    color: rgba(0,0,0,.5);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .stage .page-title {

    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .stage .page-title {
        font-size: 3.5em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .stage .page-title {
        font-size: 4.5em;
    }
    nav {
        border-bottom: 2px solid #868e96;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .stage .page-title {
        font-size: 6em;
    }

}
